[Unit]
Description=jean-massat website

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/path/to/appdir/startup_script.sh

[Install]
WantedBy=multi-user.target