<!DOCTYPE html>
<html lang="fr" class="theme-color-33d685 theme-skin-light">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Bienvenue sur le site web de Jean-Baptiste Priam-Massat, développeur logiciel ou JavaScript ninja !">
	<meta name="keywords" content="jean massat, jean-baptiste massat, jean-baptiste priam, jean-baptiste priam massat, développeur web, développeur nodejs, développeur javascript, cv, résumé, resume, curriculum vitae">
	<meta property="og:title" content="Jean-Massat" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.jean-massat.com/" />
	<meta property="og:image" content="https://www.jean-massat.com/img/uploads/jb.jpg" />

	<title>Jean-Massat</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/ico" href="/img/favicon.png"/>

	<!-- Google Fonts -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic">

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="/css/style.min.css">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="/js/html5shiv.min.js"></script>
	<script src="/js/respond.min.js"></script>
	<![endif]-->

	<!-- Modernizer for detect what features the user’s browser has to offer -->
	<script type="text/javascript" src="/js/modernizr.js"></script>

</head>

<body class="loading">
    <div class="wrapper">
        <header class="header">						
            <div class="head-bar">
                <div class="head-bar-inner">
                    <div class="row">
                        <div class="col-sm-3 col-xs-6">                            
                            <a class="logo" href="/index.html"><span>Jean</span>Massat</a>
							<!-- <a class="head-logo" href=""><img src="img/rs-logo.png" alt="RScard"/></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </header><!-- .header -->

        <div class="content">
            <div class="container">
			
			<!-- START: PAGE CONTENT -->
			<div class="page-404">
				<h2>4<span>0</span>4</h2>
				<p>Oups! C'est embarassant...</p>
				<a class="btn btn-lg btn-border" href="/">Retour à l'accueil ?</a>
			</div>
			<!-- END: PAGE CONTENT -->
                
            </div><!-- .container -->
        </div><!-- .content -->
    </div><!-- .wrapper -->
	
	<a class="btn-scroll-top" href="#"><i class="icon icon-arrow-up"></i></a>
    <div id="overlay"></div>
    <div id="preloader">
		<div class="preload-icon"><span></span><span></span></div>
		<div class="preload-text">Loading ...</div>
	</div>

    <!-- Scripts -->
    <script type="text/javascript" src="/js/site.min.js"></script>

</body>
</html>