<!DOCTYPE html>
<html lang="fr" class="theme-color-33d685 theme-skin-light">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Jean-Massat</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/ico" href="img/favicon.png"/>

	<!-- Google Fonts -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic">

	<!-- Icon Fonts -->
	<link rel="stylesheet" type="text/css" href="css/map-icons.css">
	<link rel="stylesheet" type="text/css" href="css/icomoon.css">

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="js/plugins/jquery.bxslider/jquery.bxslider.css">
	<link rel="stylesheet" type="text/css" href="js/plugins/jquery.customscroll/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" type="text/css" href="js/plugins/jquery.fancybox/jquery.fancybox.css">
	<link rel="stylesheet" type="text/css" href="js/plugins/jquery.owlcarousel/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="js/plugins/jquery.owlcarousel/owl.theme.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/green.css">
	<link rel="stylesheet" type="text/css" href="css/alertify.min.css">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Modernizer for detect what features the user’s browser has to offer -->
	<script type="text/javascript" src="js/modernizr.js"></script>
</head>

<body class="home header-has-img loading">

    <div class="mobile-nav">
        <button class="btn-mobile mobile-nav-close"><i class="icon icon-close"></i></button>
		
        <div class="mobile-nav-inner">
            <nav class="nav">
				<ul class="clearfix">
					<li><a href="#apropos">À propos</a></li>
					<li><a href="#competences">Compétences</a></li>
					<li><a href="#experience">Expériences</a></li>
					<li><a href="#diplomes">Diplômes</a> </li>
					<li><a href="#portfolio">Mes projets</a></li>
					<li><a href="#loisirs">Loisirs</a></li>
					<li><a href="#contact">Contact<span></span></a></li>
				</ul>
			</nav>
        </div>
    </div><!-- .mobile-nav -->

    <div class="wrapper">
        <header class="header">
            <div id="home-cover-background" class="head-bg"></div>

            <div class="head-bar">
                <div class="head-bar-inner">
                    <div class="row">
                        <div class="col-sm-3 col-xs-6">                            
                            <a class="logo" href="index.html"><span>JEAN</span> Massat</a>
                        </div>

                        <div class="col-sm-9 col-xs-6">
                            <div class="nav-wrap">
                                <nav class="nav">
									<ul class="clearfix">
										<li><a href="#apropos">À propos</a></li>
										<li><a href="#competences">Compétences</a></li>
										<li><a href="#experience">Expériences</a></li>
										<li><a href="#diplomes">Diplômes</a> </li>
										<li><a href="#portfolio">Mes projets</a></li>
										<li><a href="#loisirs">Loisirs</a></li>
										<li><a href="#contact">Contact<span></span></a></li>
									</ul>
								</nav>
                                <button class="btn-mobile btn-mobile-nav">Menu</button>
                            </div><!-- .nav-wrap -->
                        </div>
                    </div>
                </div>
            </div>
        </header><!-- .header -->

        <div class="content">
            <div class="container">

			<!-- START: PAGE CONTENT -->
				<section id="apropos" class="section section-about">
					<div class="animate-up">
						<div class="section-box">
							<div class="profile">
								<div class="row">
									<div class="col-xs-5">
										<div class="profile-photo"><img src="img/uploads/jb.jpg" alt="Jean-Baptiste Priam-Massat"/></div>
									</div>
									<div class="col-xs-7">
										<div class="profile-info">
											<div class="profile-preword"><span>Bonjour</span></div>
											<h1 class="profile-title"><span>Je suis</span> Jean-Baptiste</h1>

											<h2 class="profile-position">Développeur web</h2></div>
											<dl class="profile-list">
												<dt>Âge</dt>
												<dd>23</dd>
												<dt>Adresse</dt>
												<dd>62 Allée Edmond Rostand,<br/>64250,<br/>Cambo-Les-Bains,<br/> France</dd>
												<dt>github</dt>
												<dd class="profile-github"><a href="https://github.com/Fanghornn" target="_blank">github.com/Fanghornn</a></dd>
												<dt>E-mail</dt>
												<dd><a href="mailto:jean.massat@gmail.com">jean.massat@gmail.com</a></dd>
												<dt>Téléphone</dt>
												<dd><a href="tel:+33669457465">06.69.45.74.65</a></dd>
												<dt class="profile-vacation"><span>Employé CDI</span></dt>
												<dd class="profile-vacation"><i class="icon icon-calendar"></i>Depuis Mars, 2014 pour Géomatika SARL</dd>
											</dl>
									</div>
								</div>
							</div>
						</div>
						
						<div class="profile-btn">
							<a class="btn btn-border ripple" href="docs/CV.odg">Télécharger mon C.V.</a>
						</div>
						
						<div class="profile-text">
							<p>Bonjour ! Je suis Jean-Baptiste Priam-Massat, <strong>développeur web spécialisé en JavaScript</strong>.<br/>Fort de mes <strong>deux années d'expérience</strong>, je sais faire preuve d'adaptation et d'autonomie dans mon environnement de travail tout en restant en <strong>veille technologique constante</strong>.
							<br/>De la communication avec les clients à la rédaction de documents techniques, je sais être un employé polyvalent.</p>

						</div>
					</div>	
				</section><!-- #about -->
				
				<section id="competences" class="section section-skills">
					<div class="animate-up">
						<h2 class="section-title">Compétences</h2>
						<div class="section-box">
							<div class="row">							
								<div class="col-sm-6">
									<div class="progress-bar">
										<div class="bar-data">
											<span class="bar-title">JavaScript</span>
											<span class="bar-value">80%</span>
										</div>
										<div class="bar-line">
											<span class="bar-fill" data-width="80%"></span>
										</div>
									</div>
								</div>
								
								<div class="col-sm-6">
									<div class="progress-bar">
										<div class="bar-data">
											<span class="bar-title">Node.js</span>
											<span class="bar-value">60%</span>
										</div>
										<div class="bar-line">
											<span class="bar-fill" data-width="60%"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="row">							
								<div class="col-sm-6">
									<div class="progress-bar">
										<div class="bar-data">
											<span class="bar-title">jQuery</span>
											<span class="bar-value">90%</span>
										</div>
										<div class="bar-line">
											<span class="bar-fill" data-width="90%"></span>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="progress-bar">
										<div class="bar-data">
											<span class="bar-title">Websockets (Socket.IO)</span>
											<span class="bar-value">50%</span>
										</div>
										<div class="bar-line">
											<span class="bar-fill" data-width="50%"></span>
										</div>
									</div>
								</div>
							</div>
							
							<div class="row">							
								<div class="col-sm-6">
									<div class="progress-bar">
										<div class="bar-data">
											<span class="bar-title">PHP</span>
											<span class="bar-value">70%</span>
										</div>
										<div class="bar-line">
											<span class="bar-fill" data-width="70%"></span>
										</div>
									</div>
								</div>
								
								<div class="col-sm-6">
									<div class="progress-bar">
										<div class="bar-data">
											<span class="bar-title">Postgres & MySQL</span>
											<span class="bar-value">50%</span>
										</div>
										<div class="bar-line">
											<span class="bar-fill" data-width="50%"></span>
										</div>
									</div>
								</div>
							</div>

							<div class="row">							
								<div class="col-sm-6">
									<div class="progress-bar">
										<div class="bar-data">
											<span class="bar-title">Mootools</span>
											<span class="bar-value">50%</span>
										</div>
										<div class="bar-line">
											<span class="bar-fill" data-width="50%"></span>
										</div>
									</div>
								</div>
								
								<div class="col-sm-6">
									<div class="progress-bar">
										<div class="bar-data">
											<span class="bar-title">Administration serveur GNU/Linux</span>
											<span class="bar-value">60%</span>
										</div>
										<div class="bar-line">
											<span class="bar-fill" data-width="60%"></span>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>	
				</section><!-- #skills -->								
				
				<section id="experience" class="section section-experience">
					<div class="animate-up">
						<h2 class="section-title animate">Expériences professionnelles</h2>

						<div class="timeline">
							<div class="timeline-bar"></div>
							<div class="timeline-inner clearfix">
								<div class="timeline-box timeline-box-left">
									<span class="dot"></span>
									<div class="timeline-box-inner animate-right">
										<span class="arrow"></span>
										<div class="date">Mars 2014 - Aujourd'hui</div>
										<h3>Développeur JavaScript/PHP</h3>
										<h4>Géomatika - Bidart (64)</h4>
										<p>IsiGéo est une solution web génératrice d'applications métiers ou SIG (Système d'information géographique) reposant sur des technologies libres et disposant d'une grande variété d'outils et de fonctionnalités.</p>
										<ul class="work-exp-list">
											<li>API publique en JavaScript vanilla.</li>
											<li>API HTTP node.js</li>
											<li>Support navigation et interactions cartographiques via écran tactile avec OpenLayers 2.</li>
											<li>Nouvelles fonctionnalités front et back-end.</li>
											<li>Compatibilité cross-browser jusqu'a internet explorer 8 inclus.</li>
											<li>Refactoring, amélioration et optimisation de l'existant.</li>
											<li>Support et communication avec les clients.</li>
											<li>Tests unitaires.</li>
											<li>Rédaction de documentation technique.</li>
											<li>Maintenance sur serveur de production.</li>
											<li>R&D et proposition de voies d'amélioration.</li>
										</ul>
									</div>
								</div>
								
								<div class="timeline-box timeline-box-right">
									<span class="dot"></span>
									<div class="timeline-box-inner animate-left">
										<span class="arrow"></span>
										<div class="date">Novembre 2013 - Janvier 2014</div>
										<h3>Ouvrier usine</h3>
										<h4>Delpeyrat (40)</h4>
										<ul class="work-exp-list">
											<li>Travail à la chaine en 3x8 au froid.</li>
											<li>Capacité à atteindre les objectifs saisonniers.</li>
											<li>Service expédition.</li>
										</ul>
									</div>
								</div>
								
								<div class="timeline-box timeline-box-left">
									<span class="dot"></span>
									<div class="timeline-box-inner animate-right">
										<span class="arrow"></span>
										<div class="date">Mars 2013- Juillet 2013</div>
										<h3>Développeur stagiaire</h3>
										<h4>Art-Manager - Bordeaux (33)</h4>
										<p>Art-Manager est une application web pour artistes, leur permettant la gestion de leurs oeuvres. Du recensement à la commercialisation, Art-Manager accompagne et automatise la gestion mercantile.</p>
										<ul class="work-exp-list">
											<li>Refonte entière du projet en single page application adaptée à une utilisation tablette/smartphone.</li>
											<li>Exploitation du framework JavaScript Mootools pendant le développement d'un composant pour Joomla 3.</li>
											<li>Exploiter la programmation orientée objet et l'héritage aussi bien en JavaScript qu'en PHP.</li><li>Travailler en équipe et exploiter github comme plateforme de versionning.</li>
										</ul>
									</div>
								</div>
								
								<div class="timeline-box timeline-box-right">
									<span class="dot"></span>
									<div class="timeline-box-inner animate-left">
										<span class="arrow"></span>
										<div class="date">Septembre 2011 - Novembre 2011</div>
										<h3>Ouvrier usine</h3>
										<h4>Delpeyrat (40)</h4>
										<ul class="work-exp-list">
											<li>Travail à la chaine en 3x8.</li>
											<li>Service étiquetage.</li>
										</ul>
									</div>
								</div>
								
								<div class="timeline-box timeline-box-left">
									<span class="dot"></span>
									<div class="timeline-box-inner animate-right">
										<span class="arrow"></span>
										<div class="date">Lycée</div>
										<h3>Stages professionnels</h3>
										<h4>Mont de Marsan (40)</h4>
										<p>Dans le cadre d'un BAC Professionnel, j'ai effectué de nombreux stages en administration ainsi qu'au sein d'entreprises privées.</p>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</section><!-- #experience -->
				
				<section id="diplomes" class="section section-education">
					<div class="animate-up">
						<h2 class="section-title animate">Diplômes</h2>

						<div class="timeline">
							<div class="timeline-bar"></div>
							<div class="timeline-inner clearfix">						
								<div class="timeline-box timeline-box-compact timeline-box-left">
									<span class="dot"></span>

									<div class="timeline-box-inner animate-right">
										<span class="arrow"></span>
										<div class="date"><span>2012 - 2013</span></div>
										<h3>Développeur d'application (BAC +2)</h3>
										<h4>Afpa Pau (64)</h4>
									</div>
								</div>
								
								<div class="timeline-box timeline-box-compact timeline-box-right">
									<span class="dot"></span>

									<div class="timeline-box-inner animate-left">
										<span class="arrow"></span>
										<div class="date"><span>2010 - 2011</span></div>
										<h3>BAC Professionnel</h3>
										<h4>Lycée Jean Cassaigne (40)</h4>
									</div>
								</div>
								
								<div class="timeline-box timeline-box-compact timeline-box-left">
									<span class="dot"></span>

									<div class="timeline-box-inner animate-right">
										<span class="arrow"></span>
										<div class="date"><span>2009 - 2010</span></div>
										<h3>BEP</h3>
										<h4>Lycée Jean Cassaigne (40)</h4>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</section><!-- #education -->																								
				
				<section id="portfolio" class="section section-portfolio">
					<div class="animate-up">
						<h2 class="section-title">Mes projets<br/>de développement</h2>

						<div class="filter">
							<div class="filter-inner">
								<div class="filter-btn-group">
									<button data-filter="*">Tous</button>
									<button data-filter=".web">Web</button>
									<button data-filter=".bidouille">Bidouille</button>
								</div>
								<div class="filter-bar">
									<span class="filter-bar-line"></span>
								</div>
							</div>
						</div>

						<div class="grid">
							<div class="grid-sizer"></div>
							
							<div class="grid-item size22 web">
								<div class="grid-box">
									<figure class="portfolio-figure">
										<img src="img/uploads/portfolio/opendjpres610x600.jpg" alt="open-dj apperçu"/>
										<figcaption class="portfolio-caption">
											<div class="portfolio-caption-inner">
												<h3 class="portfolio-title">Open-dj</h3>
												<h4 class="portfolio-cat">node.js - express - Socket.IO - MaterializeCSS - Single Page Application</h4>

												<div class="btn-group">
													<a class="btn-link" href="https://github.com/Fanghornn/open-dj" target="_blank"><i class="icon icon-link"></i></a>
													<a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox1" href="#portfolio1-inline1"><i class="icon icon-eye"></i></a>
												</div>
											</div>
										</figcaption>
									</figure>
									
									<!-- Start: Portfolio Inline Boxes -->
									<div id="portfolio1-inline1" class="fancybox-inline-box">
										<img class="inline-img" src="img/uploads/portfolio/opendjpres1011x530.jpg" alt="open dj grand écran"/>
										<div class="inline-cont">
											<h2 class="inline-title">Pourquoi ?</h2>
											<div class="inline-text">
												<p>Ma philosophie est que le meilleur moyen d'apprendre un langage ou une technique de développement est de <strong>concevoir puis réaliser</strong> un projet utile (au moins pour moi) et possédant un minimum de complexité ou de contraintes.
												<br/><br/>Étant curieux de nature et souhaitant parfaire mes compétences en JavaScript, je souhaitais connaître aussi bien ses facettes côté client que serveur. C'est pourquoi je me suis lancé dans le développement de l'application Open-dj.<br/><br/></p>
												<h2 class="inline-title">Description du projet</h2>
												<p>Open dj est un <strong>serveur node.js</strong> qui à pour but de proposer une interface web style <strong>single page application</strong>, permettant à des utilisateurs <strong>mobiles/desktop</strong> de chercher et diffuser un flux audio en provenance de youtube, directement sur des hauts parleurs connectés sur la machine du serveur.
												<br/><br/>Une barre de bouton leur permet aussi de mettre en pause/lecture ou bien de contrôler le volume des hauts parleurs depuis le site.
												<br/><br/>Un système de playlist octroie à tous les utilisateurs, la possibilité de mettre en fil d'attente leur musique préférée s'il y en à déjà une en cours de diffusion. 
												<br/><br/>La finalité de ce projet étant de pouvoir proposer à mes amis, lorsque je les reçois chez moi, de choisir eux même, avec leur smartphone, la musique qu'ils veulent écouter.
												<br/><br/>Je l'utilise surtout personnellement pour écouter de la musique pendant mes sessions de lecture.<br/><br/></p>
												<h2 class="inline-title">Réalisation</h2>
												<p>Côté serveur, c'est <strong>node.js et express derrière un reverse proxy Nginx</strong> qui distribueront l'application aux clients. Un module maison s'occupera d'ouvrir des flux audio sur la machine hôte par l’intermédiaire du lecteur multimédia VLC.
												<br/><br/>Une fois les clients sur Open-dj, une connexion websocket est établie entre leur navigateur et mon serveur. <strong>Toutes les transactions réalisées sur l'application passeront par leur connexion permanente au serveur Socket.IO</strong>.
												<br/><br/>Un champ de recherche offre la possibilité d'effectuer une recherche sur youtube.com, en fait, je récupère leur pattern de recherche sur le serveur et ouvre une requête http sur youtube via <strong>le module HTTP de node.js</strong>. 
												<br/><br/>Une fois la requête terminée, je leur renvoie les résultats de recherche sur leur vue HTML sous forme de blocs cliquables.
												<br/><br/>Lorsqu'un utilisateur souhaite lancer la lecture d'une musique en cliquant sur un bloc de résultat, l'ID de la vidéo youtube est communiquée au serveur node.js. Tous les autres utilisateurs connectés au serveur websocket recevront une notification indiquant qu'un de leur homologue vient de lancer la lecture d'une musique.
												<br/><br/>Pendant ce temps-là, le serveur va construire une URL youtube contenant cet identifiant vidéo <strong>et le transmetra au stream de l'entrée standard d'un processus VLC en attente qui offre une API</strong>. Le processus du lecteur multimédia décryptera l'URL, récupérera et diffusera sur les hauts parleurs, <strong>le flux audio résultant de cette vidéo</strong>.
												<br/><br/><strong>Le code source est libre et consultable sur </strong><a href="https://github.com/Fanghornn/open-dj" target="_blank">mon repository github</a>.</p>
											</div>
										</div>
									</div>																
									<!-- End: Portfolio Inline Boxes -->
								</div>
							</div><!-- .grid-item -->			

							<div class="grid-item size11 web">
								<div class="grid-box">
									<figure class="portfolio-figure">
										<img src="img/uploads/portfolio/jeanmassatv2pres289x281.jpg" alt="jean-massat v2 apperçu"/>
										<figcaption class="portfolio-caption">
											<div class="portfolio-caption-inner">
												<h3 class="portfolio-title">jean-massat.com V2</h3>
												<h4 class="portfolio-cat">Node.js - express - jQuery </h4>

												<div class="btn-group">
													<a class="btn-link" href="#" target="_blank"><i class="icon icon-link"></i></a>
													<a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox2" href="#portfolio2-inline1"><i class="icon icon-eye"></i></a>
												</div>
											</div>
										</figcaption>
									</figure>

									<!-- Start: Portfolio Inline Boxes -->
									<div id="portfolio2-inline1" class="fancybox-inline-box">
										<img class="inline-img" src='img/uploads/portfolio/jeanmassatv2pres1011x530.jpg' alt='jean-massat v2 grand écran'/>
										<div class="inline-cont">
											<div class="inline-text">
												<h2 class="inline-title">jean-massat.com V2</h2>
													La deuxième version de jean-massat.com est celle sur laquelle vous vous trouvez actuellement.
													<br/><br/>Le back-end est en <strong>node.js avec le framework web express</strong>, le module NPM <trong>«nodemailer»</trong> m'a permis de gérer l'envoi de vos messages sur ma boite mail à travers un formulaire web que vous pouvez retrouver en pied de page.
													<br/><br/>Pour l'architecture réseau, c'est un serveur <strong>Nginx</strong> qui s'occupe de traiter vos requêtes HTTP et les redirige, grâce à un <strong>reverse proxy</strong>,  sur l'application node.js de mon site qui écoute sur un port spécifique en interne.
													<br/><br/>C'est une incrustation d'un template provenant de themeforest qui m'a permis de vous proposer ce design <strong>material et mobile responsive</strong>. J'ai du changer et supprimer un bon nombre de fonctionnalités pour le rendre le plus rapide possible pour le client.
													<br/><br/><strong>Le code source du site est libre et consultable sur mon </strong><a href="" target="_blank">repository github</a>.
												<br/></p>
											</div>
										</div>								
									</div>
									<!-- End: Portfolio Inline Boxes -->
								</div>
							</div><!-- .grid-item -->

							<div class="grid-item size11 web">
								<div class="grid-box">
									<figure class="portfolio-figure">
										<img src="img/uploads/portfolio/jeanmassatv1pres189x191.jpg" alt="jean-massat V1"/>
										<figcaption class="portfolio-caption">
											<div class="portfolio-caption-inner">
												<h3 class="portfolio-title">jean-massat.com V1</h3>
												<h4 class="portfolio-cat">PHP - Joomla 3 - Mootools - Gantry</h4>

												<div class="btn-group">
													<a class="btn-link" href="https://github.com/Fanghornn/Jean-Massat" target="_blank"><i class="icon icon-link"></i></a>
													<a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox3" href="#portfolio3-inline1"><i class="icon icon-eye"></i></a>
												</div>
											</div>
										</figcaption>
									</figure>

									<!-- Start: Portfolio Inline Boxes -->
									<div id="portfolio3-inline1" class="fancybox-inline-box">
										<img class="inline-img" src='img/uploads/portfolio/jeanmassatv1pres1011x530.jpg' alt='jean-massat v1 grand écran'/>
										<div class="inline-cont">
											<div class="inline-text">
												<h2 class="inline-title">jean-massat.com</h2>
												<p>La création de ce site web avait pour but de <strong>confirmer mon apprentissage du développement</strong> et ainsi démontrer à mes futurs potentiels employeurs, mes compétences concrète de développeur junior.
												<br/><br/>Ayant appris la création de plugin pour le CMS Joomla 3 durant mon stage de fin d'études, j'ai naturellement décidé de partir sur une même plate forme.<strong> Joomla dispose d'une API PHP</strong> très riche et fut un atout considérable dans ma démarche.
												<br/>Sous forme d'un modèle MVC, j'ai mis en place un <strong>sytème d'affichage d'articles de blog</strong> avec la possibilité <strong>d'enregistrer/éditer/supprimer ces derniers derrière une interface administrateur</strong>. 
												<br/><br/>Côté client JavaScript, le <strong>framework Mootools</strong> (concurrent jQuery) s'est imposé pour les mêmes raisons. Il accompagne toutes les interractions utilisateurs durant la navigation.
												<br/><br/>Concernant le design, c'est le <strong>framework CSS gantry</strong> qui m'a permis de réaliser une <strong>thème mobile responsive</strong>.
												<br/><br/>Le code source du site est libre et consultable sur mon <strong><a href="https://github.com/Fanghornn/Jean-Massat" target="_blank">repository github</a></strong>.
												</p>
											</div>
										</div>								
									</div>
									<!-- End: Portfolio Inline Boxes -->
								</div>
							</div><!-- .grid-item -->

							<div class="grid-item size11 bidouille">
								<div class="grid-box">
									<figure class="portfolio-figure">
										<img src="img/uploads/portfolio/raspberryled_prev.gif" alt="Preview projet led raspberry"/>
										<figcaption class="portfolio-caption">
											<div class="portfolio-caption-inner">
												<h3 class="portfolio-title">Raspberry PI</h3>
												<h4 class="portfolio-cat">Contrôler une LED RGB en C </h4>

												<div class="btn-group">
													<a class="btn-link" href="https://github.com/Fanghornn/raspberry_c" target="_blank"><i class="icon icon-link"></i></a>
													<a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox4" href="#portfolio4-inline1"><i class="icon icon-eye"></i></a>
												</div>
											</div>
										</figcaption>
									</figure>

									<!-- Start: Portfolio Inline Boxes -->
									<div id="portfolio4-inline1" class="fancybox-inline-box">
										<img class="inline-img" src='img/uploads/portfolio/raspberryled_large.gif' alt='Allumer une led avec la raspberry'/>
										<div class="inline-cont">
											<div class="inline-text">
												<h2 class="inline-title">Rasbperry pi et ses GPIO</h2>
												<p>Pour m'occuper, j'ai décidé de faire l'acquisition d'une raspberry pi.
												<br/><br/>Après avoir installé un serveur DNS dessus pour <strike>contourner la censure des tracker torrent par l'état français</strike> ne plus être tributaire de ceux de google, je me suis amusé à monter un circuit en série pour alimenter une LED RGB <strong>(voir animation ci-dessus)</strong>.
												<br/><br/>Pour rendre le tout un peu plus amusant, je me suis lancé dans l'écriture d'un script en C pour piloter <strong>les GPIO (General Purpose Input/Output)</strong> alimentant ladite LED. C'est la libraire <strong><a href="http://wiringpi.com/" target="_blank">WiringPi</a></strong> qui rend possible la prise en compte et manipulation des GPIO présent sur la machine pendant la compilation des scripts.
												<br/><br/>Le code source est libre et consultable sur <strong><a href="" target="_blank">mon compte github</a></strong></p>
											</div>
										</div>								
									</div>
									<!-- End: Portfolio Inline Boxes -->
								</div>
							</div><!-- .grid-item -->
						</div>
					</div>	
				</section><!-- #portfolio -->

				<section id="loisirs" class="section section-interests">
					<div class="animate-up">
						<h2 class="section-title">Loisirs</h2>

						<div class="section-box">
							<p>Passionné d'informatique depuis l'enfance, je passe le plus clair de mon temps sur des machines.
							<br/><br/>D'un naturel curieux, je reste en veille technologique constante et poursuis mon apprentissage du développement de logiciels en consacrant mon temps libre à des projets personnels. 
							<br/><br/>Littérature du genre science fiction ou heroic fantasy.
							<br/><br/>La course à pied ou les jeux vidéos en équipe font également partie de mon quotidien.</p>

							<ul class="interests-list">
								<li>
									<i class="map-icon map-icon-electronics-store"></i>
									<span>Informatique/Jeux vidéo</span>
								</li>
								<li>
									<i class="map-icon map-icon-walking"></i>
									<span>Course à pied</span>
								</li>
								<li>
									<i class="map-icon map-icon-book-store"></i>
									<span>Lecture</span>
								</li>
							</ul>
						</div>
					</div>	
				</section><!-- #interests -->

				<section id="contact" class="section section-contact">
					<div class="animate-up">
						<h2 class="section-title">Contact</h2>

						<div class="section-box contact-form">
							<h3>Mon profil vous intéresse ?</h3>
							
							<form id="vaguemestre" class="contactForm" action="/vaguemestre" method="post">
								<div class="input-field">
									<input title="Renseignez votre nom" class="contact-name" type="text" name="author"/>
									<span class="line"></span>
									<label>Votre nom</label>
								</div>

								<div class="input-field">
									<input title="Renseignez votre adresse mail" class="contact-email" type="email" name="authorMail" required/>
									<span class="line"></span>
									<label>E-mail</label>
								</div>

								<div class="input-field">
									<input title="Renseignez un sujet" class="contact-subject" type="text" name="subject"/>
									<span class="line"></span>
									<label>Sujet</label>
								</div>

								<div class="input-field">
									<textarea title="Écrivez votre message" class="contact-message" rows="4" name="content" required></textarea>
									<span class="line"></span>
									<label>Message</label>
								</div>

								<span class="btn-outer btn-primary-outer ripple form-submit-btn">
									<input class="contact-submit btn btn-lg btn-primary" type="submit" value="Envoyer"/>
								</span>
								
								<div class="contact-response"></div>
							</form>
						</div>
					</div>	
				</section><!-- #contact -->
			<!-- END: PAGE CONTENT -->
                
            </div><!-- .container -->
        </div><!-- .content -->

        <footer class="footer">
            <div class="footer-social">
                <ul class="social">
					<li><a class="ripple-centered" href="https://github.com/Fanghornn" target="_blank"><i class="icon icon-github"></i></a></li>
					<li><a class="ripple-centered" href="https://fr.linkedin.com/in/jean-baptiste-massat-8b6070105" target="_blank"><i class="icon icon-linkedin"></i></a></li>
				</ul>
            </div>
        </footer><!-- .footer -->
    </div><!-- .wrapper -->
	
	<a class="btn-scroll-top" href="#"><i class="icon icon-arrow-up"></i></a>
    <div id="overlay"></div>
    <div id="preloader">
		<div class="preload-icon"><span></span><span></span></div>
		<div class="preload-text">Loading ...</div>
	</div>

    <!-- Scripts -->
    <script type="text/javascript" src="js/libs/jquery.1.11.1.min.js"></script>
    <script type="text/javascript" src="js/plugins/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="js/plugins/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="js/plugins/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="js/plugins/jquery.appear.min.js"></script>
    <script type="text/javascript" src="js/plugins/jquery.bxslider/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="js/plugins/jquery.customscroll/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="js/plugins/jquery.fancybox/jquery.fancybox.pack.js"></script>
	<script type="text/javascript" src="js/plugins/jquery.owlcarousel/owl.carousel.min.js"></script>
	<script type="text/javascript" src="js/plugins/alertify.min.js"></script>
	<script type="text/javascript" src="js/MailHandler.js"></script>	
    <script type="text/javascript" src="js/site.js"></script>

    <noscript>Vous devez activer JavaScript pour pouvoir consulter cette page :(.</noscript>

</body>
</html>